<div id="ballpark">ballpark</div>

<% @rdc_servers = RdcServer.all(:order => "typename") %>
<%= form_tag('calc', :id=>"form_calc", :remote=>true) do %>

  <div id="rate">
  1 SGD=<%= text_field_tag :sgd_rate, nil, :size=>3, :value => "70" %>JPY,
  1 USD=<%= text_field_tag :usd_rate, nil, :size=>3, :value => "82" %>JPY
  </div>
  <table class="rdcservers">
    <col class="typename" />
    <col class="spec" />
    <col class="num" />
    <tr>
    <th>Type</th>
    <th>Spec</th>
    <th>Num</th>
    </tr>

    <% @rdc_servers.each_with_index do |rs,i| %>
    <% @rs = rs %>
      <tr>
        <td><%= rs.typename %></td>
        <td><%= rs.spec %></td>
        <td><%= text_field 'rs[]', 'num', :size=>3, :maxlength=>2, :index=>i %></td>
      </tr>
  <% end %>
  </table>

  <div id='submit' align='center'>
    <%= submit_tag "Calc" %>
  </div>

<% end %>

<div id="result" class="result" align=center></div>

