
<% @rdc_servers = RdcServer.all(:order => "typename") %>
<%= form_tag({:action=>"calc"}, :id=>"form_calc", :remote=>true) do %>

  <div id="rate">
  1 SGD=<%= text_field_tag :sgd_rate, nil, :size=>6, :maxlength=>6, :value => "85.00" %>JPY,
  1 USD=<%= text_field_tag :usd_rate, nil, :size=>6, :maxlength=>6, :value => "117.00" %>JPY
  </div>
  <table class="rdcservers">
    <col class="typename" />
    <col class="spec" />
    <col class="num" />
    <tr>
    <th>Type</th>
    <th>Spec</th>
    <th>Num(prod)</th>
    <th>Num(non-prod)</th>
    </tr>

    <% @rdc_servers.each_with_index do |rs,i| %>
    <% @rs = rs %>
      <tr>
        <td><%= rs.typename %></td>
        <td><%= rs.spec %></td>
        <td><%= text_field 'rs[]', 'num1', :size=>2, :maxlength=>2, :index=>i %></td>
        <td><%= text_field 'rs[]', 'num2', :size=>2, :maxlength=>2, :index=>i %></td>
      </tr>
  <% end %>
      <tr>
        <td>SAN storage</td>
        <td>Tier2</td>
        <td><input type="text" name="san_num1" size="4" maxlength="4" value="0">GB</td>
        <td><input type="text" name="san_num2" size="4" maxlength="4" value="0">GB</td>
      </tr>
  </table>

  <div id='submit' align='center'>
    <%= submit_tag "Calculate" %>
  </div>

<% end %>

<div id="result"></div>

